@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'publicsanssemibold';
//     src: url('../fonts/PublicSans-SemiBold.woff2') format('woff2'),
//          url('../fonts/PublicSans-SemiBold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'publicsans';
//     src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
//          url('../fonts/PublicSans-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

/* */

@font-face {
    font-family: 'publicsansextrabold';
    src: url('../fonts/PublicSans-ExtraBold.woff2') format('woff2'),
         url('../fonts/PublicSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publicsansbold';
    src: url('../fonts/PublicSans-Bold.woff2') format('woff2'),
         url('../fonts/PublicSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publicsansmedium';
    src: url('../fonts/PublicSans-Medium.woff2') format('woff2'),
         url('../fonts/PublicSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}