$color-text: #342C2E;

// $color-blue: #68abde;
$color-blue: #4495D4;
$color-dark-blue: #205B81;
$color-light-orange: #ffebea;
$color-orange: #ed8736;
$color-red: #dd6656;
$color-red: #d84e60;
$color-yellow: #f0cc51;
$color-body: #dad4d3;

$color-winedirect: #c018a2;